
<title>Weather Tracker</title>
<div id="home-body">  
    <h3 id="home-heading">Weather Tracker </h3>
    <h5 id="city-display"> {{ cityInput }}</h5>
    <div id="city-search-form">
    <label>Search for a city to begin: </label> 
        <input #cityInputRef id="cityInput" type="text" name="cityInput" 
        autocomplete="off" 
        (input)="updateSearch(cityInputRef.value)">    
    </div>
    
    <div>
        <h2>Results</h2>
        <ol id="city-results-list">
        @for(city of cities; track city.cityID)
        {
            <br>
            <li value="{{city.cityID}}">{{city.cityStr}}</li>
        }
        </ol>
    </div>
    <div id="city-page-form-div">
        <button (click)="getPreviousSearchResults()" [disabled]="prevButtonDisabled" class="my-index-button">Previous</button> <button (click)="getNextSearchResults()" [disabled]="nextButtonDisabled" class="my-index-button">Next</button>
        <select #pageSizeSelect name="pageSize" id="page-size-select" (change)="changePageSize()">
            <option value="10">--Page Size--</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <label>Go to page</label>
        <input #pageNumberInput id="page-number-input" type="number" min="1" max="100"><button [disabled]="changePageButtonDisabled" (click)="changePage()">Go</button>
    </div>
</div>
