<div id="city-body">  
    <h3 id="city-heading"> {{cityName}}</h3>
    <h1>{{cityObj?.cityCountry}}</h1>
    <select #chartTypeSelect name="chartTypeSelect" id="chart-type-select" (change)="changeChartType()">
            <option value="bar">Bar</option>
            <option value="line">Line</option>
    </select>


    <select #tempUnitSelect name="tempUnit" id="temp-unit-select" (change)="getTodaysHourlyTemperature()">
            <option value="fahrenheit">Fahrenheit</option>
            <option value="celsius">Celsius</option>
    </select>
</div>

<button (click)="getTodaysHourlyTemperature()">View Today's Hourly Temperature</button>
<div id="city-canvas">
    <canvas #myChart></canvas>
</div>